################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/obj/Debug/TestApp.pdb
/TestApp/obj/Debug/TestApp.exe
/TestApp/obj/Debug/TestApp.csprojResolveAssemblyReference.cache
/TestApp/obj/Debug/TestApp.csprojAssemblyReference.cache
/TestApp/obj/Debug/TestApp.csproj.FileListAbsolute.txt
/TestApp/obj/Debug/TestApp.csproj.CoreCompileInputs.cache
/TestApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestApp/bin/Debug/TestApp.pdb
/TestApp/bin/Debug/TestApp.exe.config
/TestApp/bin/Debug/TestApp.exe
/.vs/TestApp/v15/Server/sqlite3/storage.ide-wal
/.vs/TestApp/v15/Server/sqlite3/storage.ide-shm
/.vs/TestApp/v15/Server/sqlite3/storage.ide
/.vs/TestApp/v15/Server/sqlite3/db.lock
/.vs/TestApp/v15/.suo
